* {
  box-sizing: border-box;
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Times New Roman'; */
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

.mainContainer {
  height: 500px;
  width: 500px;
  background-color: #1b243b;
  border-radius: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  padding: 10px;
}

.mainContainer > .top {
  background-color: #065075;
  width: 480px;
  /* height: 40px; */
  border-radius: 5px;
  position: relative;
  /* padding-top: 5px; */
  padding-left: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.topHome{
  padding-top: 10px;
  height: 60px;
  font-weight: bold;
}
.topGame{
  padding-top: 5px;
  height: 40px;
}
.mainContainer > .top >label{
  text-transform: uppercase;
  color: #ffd102;
  font-size: 30px;
  text-align: center;
  padding-left: 25px;
  letter-spacing: 3px;
}

.topDesign {
  height: 30px;
  width: 100px;
  padding-top: 5px;
  padding-left: 10px;
  color: #ffffff;
  position: absolute;
  font-weight: bold;
}
.scoreIcon{
  margin-left: 320px;
  z-index: 99;
}
.lifeIcon{
  margin-left: 200px;
  z-index: 99;
}
#level {
  background-color: #a5010e;
  margin-left: 20px;
  font-weight: bold;
}

#life {
  background-color: #1591ce;
  margin-left: 200px;
  padding-left: 50px;
}

#score {
  background-color: #1591ce;
  margin-left: 320px;
  padding-left: 50px;
}

.topDesign > i {
  width: 10px;
  height: 10px;
}

section {
  width: 300px;
  height: 280px;
  background-color: #ffd102;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
}
section > .imageContainer {
  width: 260px;
  height: 240px;
  background-color: #1c243b;
  margin: auto;
}
section > .imageContainer > img {
  margin: auto;
  padding: 10px;
  height: 240px;
  width: 260px;
}
#answer{
  margin-top: 10px;
  margin-left: 110px;
  width: 260px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
  
}
#hint{
  height: 40px;
  width: 280px;
  margin-left: 100px;
  background-color: #d9d9d9;
  color: #1b243b;
  padding-top: 10px;
  text-align: center;
}

ul{
  /* display: flex; */
  list-style: none;
  margin-left: 5  px;
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: bold;
}
li a {
  margin-left: 3px;
  margin-right: 3px;
  text-decoration: none;
  color: #ffffff;
}

li a:hover {
  color: #ffd102;
}
.btn{
  background-color: #ffd102;
  color: #ffffff;
  /* margin-top: 10px; */
  height: 30px;
  width: 100px;
  font-weight: bold;
}
#btnClear{
  margin-left: 130px;
  margin-right: 20px;
}
#home{
  margin-top: -50px;
}
#restart{
  margin-top: -20px;
}
.sideIcon{
  float: left;
  color: #eee;
  margin-left: 400px;
  transition: transform .2s;
}
.sideIcon:hover {
  transform: scale(1.5);
  color: #1591ce;
}


/* .btnHome{
  display: inline-block;
  padding: 10px 20px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  color: #000;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  margin-left: 35px;
  width: 300px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
}

.btnHome:hover {
  background-color: #ffd102;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.btnHome:active {
  box-shadow: none;
  transform: translateY(2px);
}
.btnHome>p{
  margin-top: 50px;
  padding-top: 10px;
}
.btnStart{ 
  margin-top: 20px;
}
.btnMechanics{
  margin-top: 30px;
}
.btnCredits{
  margin-top: 30px;
}  */
p{
  color: #ffffff;
  margin-top: 20px;
text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}
.homeSection{
  width: 380px;
  height: 380px;
  border: 4px solid #ffd102;
  background-color: #1b243b;
  border-radius: 5%;
}

.promp {
  display: none;
  place-items: center;
  height: 70px;
  background-color: rgba(0,0,0,0.4);
}
.promp > .content {
  background-color: #eee;
  position: relative;
  z-index: 10;
  margin-top: -500px;
  /* margin: auto; */
  width: 400px;
  padding: 1em;
  border-radius: 1em;
}
.promp > .content .close{
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
}
.promp.show {
  display: grid;
}